[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
startCommand = "python manage.py migrate --noinput; gunicorn --bind 0.0.0.0:$PORT --workers 2 --threads 4 chrisb_blog.wsgi:application"
